[project]
	description = Man Vs. Spiders
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Paul (melenchuk)
[access "refs/for/refs/*"]
	read = group user/Paul (melenchuk)
	push = group user/Paul (melenchuk)
	label-Code-Review = -2..+2 group user/Paul (melenchuk)
	label-Verified = -1..+1 group user/Paul (melenchuk)
	rebase = group user/Paul (melenchuk)
	removeReviewer = group user/Paul (melenchuk)
	submit = group user/Paul (melenchuk)
[access "refs/heads/*"]
	read = group user/Paul (melenchuk)
	create = group user/Paul (melenchuk)
	push = +force group user/Paul (melenchuk)
	pushMerge = group user/Paul (melenchuk)
[access "refs/tags/*"]
	push = group user/Paul (melenchuk)
	push = +force group user/Paul (melenchuk)
